.hero_section{
    /* border:2px solid red; */
    margin: 5rem 0rem;

    display: flex;
    justify-content: justify;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: "Titillium Web", sans-serif;
}
.hero_section h1{
    font-size: 3.5rem;
    max-width: 60%;
    color:var(--text-color);
    /* color:#c0c0b0; */
}
.hero_section p{
    font-size: 1.5rem;
    max-width: 90%;
    
}