.skills_header{
    padding: 1rem 4rem;
    color:var(--text-color);
}

.slills_section{
    /* border:2px solid blue; */
    padding: 0rem 4rem;
    /* height: 50vh; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-family: "Titillium Web", sans-serif;

}

.one{
    /* border:2px solid red; */
    /* height: 100%; */
    width: 30%;
}
.one h3{
    /* text-align: center; */
    font-size: 1.8rem;
    color:var(--link-color);
    /* text-decoration: underline; */
    /* outline: 2px solid red; */
}
.one h4{
    /* outline: 2px solid red; */
    display: inline-block;
    margin: 10px;
}